<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.gama-decor.emotions"
        version   = "1.0.7.6">

    <name>GD emotions</name>

    <description>
        GD emotions es una aplicación Gamadecor que permite combinar y seleccionar los acabados de nuestra nueva colección de mobiliario de cocina. Seleccionando por tipo de material y aspecto supercicial le proporciona los posibles acabados. También puede combinar hasta 4 tipos de materiales, seleccionando un conjunto de acabados para el mobiliario de cocina emotions.
    </description>

    <author href="http://www.gama-decor.com" email="publicidad@gama-decor.com">
        GAMADECOR - PORCELANOSA Grupo
    </author>

    <feature name="http://www.gama-decor.com/gd-emotions.php" />

    <gap:platform name="ios" />

    <preference name="StatusBarOverlaysWebView" value="false" />

    <preference name="phonegap-version" value="3.5.0" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" /> <!-- Oculta la barra de estado situada en la parte superior de la pantalla -->
    <preference name="webviewbounce"    value="false" /> <!-- Rebote superior -->
    <preference name="prerendered-icon" value="true" />  <!-- No incluye el brillo en el icono -->
    <preference name="exit-on-suspend"  value="false" />  <!-- La aplicación terminará cuando se suspendió -->

    <icon src="recursos/icon.png" />
    <icon src="recursos/icon/icon-57.png"       gap:platform="ios"  width="57" height="57" />
    <icon src="recursos/icon/icon-72.png"       gap:platform="ios"  width="72" height="72" />
    <icon src="recursos/icon/icon-76.png"       gap:platform="ios"  width="76" height="76" />
    <icon src="recursos/icon/icon-114.png"      gap:platform="ios"  width="114" height="114" />
    <icon src="recursos/icon/icon-120.png"      gap:platform="ios"  width="120" height="120" />
    <icon src="recursos/icon/icon-144.png"      gap:platform="ios"  width="144" height="144" />
    <icon src="recursos/icon/icon-152.png"      gap:platform="ios"  width="152" height="152" />

    <gap:splash src="recursos/splash/Default-568h@2x~iphone.png"    gap:platform="ios"  width="640"  height="1136" />
    <gap:splash src="recursos/splash/Default-Landscape@2x~ipad.png" gap:platform="ios"  width="2048" height="1496" />
    <gap:splash src="recursos/splash/Default-Landscape~ipad.png"    gap:platform="ios"  width="1024" height="768" />
    <gap:splash src="recursos/splash/Default-Portrait@2x~ipad.png"  gap:platform="ios"  width="1536" height="2008" />
    <gap:splash src="recursos/splash/Default-Portrait~ipad.png"     gap:platform="ios"  width="768"  height="1024" />
    <gap:splash src="recursos/splash/Default@2x~iphone.png"         gap:platform="ios"  width="640"  height="960" />
    <gap:splash src="recursos/splash/Default~iphone.png"            gap:platform="ios"  width="320"  height="240" />

    <gap:plugin name="com.adobe.plugins.gaplugin" version="2.3.1" />
    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />

</widget>